// Page Sidebar Start
- var status = (sidebar_open ? 'open' : '');
.page-sidebar(class=status)

                    .main-header-left.d-none.d-lg-block
                        .logo-wrapper
                            a(href='../theme/index.html')
                                img(src='../assets/images/logo/compact-logo.png', alt='')
                    div.sidebar.custom-scrollbar
                        ul.sidebar-menu
                            li
                                a.sidebar-header(href='../theme/index.html')
                                    i(data-feather='home')
                                    span Dashboard
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='anchor')
                                    span Starter Kit
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='layout-light.html')
                                            i.fa.fa-circle
                                            | Layout Light
                                    li
                                        a(href='layout-dark.html')
                                            i.fa.fa-circle
                                            | Layout Dark
                                    li
                                        a(href='compact.html')
                                            i.fa.fa-circle
                                            | Compact Sidebar
                                    li
                                        a(href='sidebar-fixed.html')
                                            i.fa.fa-circle
                                            | Sidebar Fixed
                                    li
                                        a.disabled(href='')
                                            i.fa.fa-circle
                                            | Disable
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='layout')
                                    span Page layout
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='box-layout.html')
                                            i.fa.fa-circle
                                            | Boxed
                                    li
                                        a(href='layout-rtl.html')
                                            i.fa.fa-circle
                                            | RTL
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='align-justify')
                                    span Menu Options
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='hide-on-scroll.html')
                                            i.fa.fa-circle
                                            | Hide menu on Scroll
                                    li
                                        a(href='vertical.html')
                                            i.fa.fa-circle
                                            | Vertical Menu
                                    li
                                        a(href='mega-menu.html')
                                            i.fa.fa-circle
                                            | Mega Menu
                                    li
                                        a(href='fix-header.html')
                                            i.fa.fa-circle
                                            | Fix header
                                    li
                                        a(href='fix-header&sidebar.html')
                                            i.fa.fa-circle
                                            | Fix Header & sidebar
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='cloud-lightning')
                                    span Footers
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='footer-light.html')
                                            i.fa.fa-circle
                                            | Footer Light
                                    li
                                        a(href='footer-dark.html')
                                            i.fa.fa-circle
                                            | Footer Dark
                                    li
                                        a(href='footer-fixed.html')
                                            i.fa.fa-circle
                                            | Footer Fixed
                            li
                                a.sidebar-header(href='http://support.pixelstrap.com/help-center', target='_blank')
                                    i(data-feather='headphones')
                                    span Raise Support 
                            li
                                a.sidebar-header(href='../document/index.html', target='_blank')
                                    i(data-feather='file-text')
                                    span Documentation

// Page Sidebar Ends
