- var prism                 = true;
- var height_equal          = true;
- var clipboard             = true;
- var customcard            = true;
- var chartist              = true;
- var apex                  = true;
- var chat_menu             = true;
- var theme_customizer      = true;
- var tooltip               = true;
- var dashboard_crypto      = true;
- var counter               = true;
- var tour                  = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6
                                    h3
                                      | Crypto 
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         | Home
                                      li.breadcrumb-item Dashboard
                                      li.breadcrumb-item.active Crypto 
                                      
                                .col-lg-6
                                  include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-xl-7.xl-100.box-col-12
                          .card.o-hidden
                            .card-body.crypto-current
                              .row
                                .col-xl-4.col-sm-6
                                  .current-balance
                                    span.f-12.f-w-600 Your Current Balance
                                    h2
                                      span.mr-2
                                        i.icofont.icofont-cur-dollar
                                      span
                                        | 6,00,566
                                    .btn-vertical-align.d-flex
                                      button.btn.btn-pill.btn-gradient-custom Withdraw
                                        span.round-shape
                                          i.icofont.icofont-arrow-right
                                      .setting-dot.d-inline-block
                                        .setting-bg
                                          i.fa.fa-spin.fa-cog.font-primary
                                .col-xl-3.col-sm-6
                                  .crypto-amount
                                    .amount-detail
                                      label.f-w-600.f-12 Card Number *
                                      .amount-inner
                                        span 486*******
                                    .amount-detail
                                      label.f-w-600.f-12 Amount *
                                      .amount-inner
                                        span 500,000,000
                                .col-xl-5
                                  .crypto-amount
                                    .amount-detail
                                      label.f-w-600.f-12 Expire Date
                                      .amount-inner
                                        .row
                                          .col.text-center 02
                                          .col.text-center October
                                          .col.text-center 2019
                                    .amount-detail
                                      label.f-w-600.f-12 Cvv
                                      .number-amount
                                        .amount-inner.d-inline-block
                                          span 4
                                        .amount-inner.d-inline-block
                                          span 8
                                        .amount-inner.d-inline-block
                                          span *
                                        button.btn.btn-gradient-custom.pull-right Deposite
                                    .shape-right
                                      .shape-create
                                      i.icofont.icofont-rounded-left
                        .col-xl-5.xl-100.box-col-12
                          .card
                            .card-body.distributed-crypto
                              .row
                                .col-sm-6
                                  span.f-12 Our Distributed
                                  h5.mb-0 6,235,125
                                    span  CIC
                                    span.d-inline-block.distributed-arrow-square
                                      span.square-crypto
                                        i.font-primary(data-feather='trending-up')
                                .col-sm-6.text-right
                                  span.f-12 Our Contributed
                                  h5.mb-0 5478 ETH | 
                                    span 80 BTH
                              .distributed-bottom
                                .progress.sm-progress-bar.progress-animate
                                  .progress-gradient-primary(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
                                    span.progress-tooltip 3.5
                                    span.animate-circle
                              span.font-primary
                                  i.icofont.icofont-cur-dollar
                                  | 0
                              span.font-primary.pull-right
                                  i.icofont.icofont-cur-dollar
                                  | 5M    
                        .col-xl-4.xl-50
                          .card.crypto-graph-card.sales-overview
                            .card-header
                              .media
                                .media-body.d-flex
                                  .rounded-icon.bck-gradient-primary
                                    i.fa.fa-btc
                                  .bitcoin-graph-content
                                    h5 Bitcoin BTC
                                    span.d-block.f-12.f-w-600 0.00000112 BTC $0.05
                                span.pull-right.badge.badge-pill
                                  span.font-primary
                                    span.d-inline-block
                                      i.fa.fa-sort-up
                                    |  7.8%
                            .card-body.p-0.crm-dashboard-chart
                              .apex-chart-container
                                #btc-apex
                        .col-xl-4.xl-50
                          .card.crypto-graph-card.sales-overview.secondary-crypto
                            .card-header
                              .media
                                .media-body.d-flex
                                  .rounded-icon.bck-gradient-secondary
                                    i.fa.fa-try
                                  .bitcoin-graph-content
                                    h5 Litecoin LTC
                                    span.d-block.f-12.f-w-600 0.00000348 LTC $0.02
                                .right-setting
                                  .setting-dot.d-inline-block.mr-3
                                    .setting-bg
                                      i.fa.fa-spin.fa-cog.font-secondary
                                  span.pull-right.badge.badge-pill
                                    span.font-secondary
                                      span.d-inline-block
                                        i.fa.fa-sort-up
                                      |  4.1%
                            .card-body.p-0.crm-dashboard-chart
                              .apex-chart-container
                                #ltc-apex
                        .col-xl-4.xl-100
                          .card.crypto-graph-card.sales-overview.warning-crypto
                            .card-header
                              .media
                                .media-body.d-flex
                                  .rounded-icon.bck-gradient-warning
                                    i.fa.fa-eur
                                  .bitcoin-graph-content
                                    h5 Ethereum ETH
                                    span.d-block.f-12.f-w-600 0.00000686 LTC $0.07
                                span.pull-right.badge.badge-pill
                                  span.font-warning
                                    span.d-inline-block
                                      i.fa.fa-sort-up
                                    |  4.1%
                            .card-body.p-0.crm-dashboard-chart
                              .apex-chart-container
                                #eth-apex
                        .col-xl-7.xl-100.box-col-12
                          .card
                            .card-header.crypto-header
                              h5 Bitcoin Exchange ETH/BTC
                              .chart-value-box.pull-right
                                .value-square-box-primary
                                span.f-12.f-w-600 Value
                                .value-square-box-secondary.ml-3
                                span.f-12.f-w-600 Value
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body
                              .apex-chart-container
                                #candlestick-chart
                                .our-growth-bottom.crypto-graph-card
                                  .media
                                    span.f-12.f-w-600 Our Growth
                                    span.pull-right.badge.badge-pill.ml-3
                                      span.font-primary
                                        span.d-inline-block
                                          i.fa.fa-sort-up
                                        |  9.4%
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="apex-chart-container"&gt;
                                      | &lt;div id="candlestick-chart"&gt;&lt;/div&gt;
                                      | &lt;div class="our-growth-bottom crypto-graph-card"&gt;
                                      | &lt;div class="media"&gt;&lt;span class="f-12 f-w-600"&gt;Our Growth&lt;/span&gt;&lt;span class="pull-right badge badge-pill ml-3"&gt;&lt;span class="font-primary"&gt;
                                      | &lt;div class="d-inline-block"&gt;&lt;i class="fa fa-sort-up"&gt;&lt;/i&gt;&lt;/div&gt; 9.4%&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                        .col-xl-5.xl-100.box-col-12
                          .card.sales-overview
                            .card-header
                              h5 Datatable Table Markets
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body.p-0
                              .sales-product-table.crypto-table-market.table-responsive
                                table.table.table-bordernone
                                  thead
                                    tr
                                      th(scope='col') Coin
                                      th(scope='col') Price
                                      th(scope='col') Date
                                      th(scope='col') Change%
                                  tbody
                                    tr
                                      td Bitcoin (BTC)
                                      td
                                        span $ 50.65
                                      td
                                        span 4 Jan
                                      td
                                        span.badge.badge-pill.pill-badge-primary.f-14 + 2.6%
                                    tr
                                      td Ethereum (ETH)
                                      td
                                        span $ 9.56
                                      td
                                        span 18 Feb
                                      td
                                        span.badge.badge-pill.pill-badge-secondary.f-14 - 3.7%
                                    tr
                                      td Ripple (XRP)
                                      td
                                        span $ 30.48
                                      td
                                        span 26 March
                                      td
                                        span.badge.badge-pill.pill-badge-primary.f-14 + 8.3%
                                    tr
                                      td Bitcoin Case (BCH)
                                      td
                                        span $ 102.56
                                      td
                                        span 31 Apr
                                      td
                                        span.badge.badge-pill.pill-badge-light.font-primary.f-14 + 5.6%
                                    tr
                                      td EOS (EOS)
                                      td
                                        span $ 5.48
                                      td
                                        span 2 May
                                      td
                                        span.badge.badge-pill.pill-badge-primary.f-14 - 2.6%
                                    tr
                                      td Litecoin (LTC)
                                      td
                                        span $ 40.46
                                      td
                                        span 10 Jun
                                      td
                                        span.badge.badge-pill.pill-badge-secondary.f-14 + 5.6%
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head1', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head1
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="sales-product-table crypto-table-market table-responsive"&gt;
                                      | &lt;table class="table table-bordernone"&gt;
                                      | &lt;thead&gt;
                                      | &lt;tr&gt;
                                      | &lt;th scope="col"&gt;Coin&lt;/th&gt;
                                      | &lt;th scope="col"&gt;Price&lt;/th&gt;
                                      | &lt;th scope="col"&gt;Date&lt;/th&gt;
                                      | &lt;th scope="col"&gt;Change%&lt;/th&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/thead&gt;
                                      | &lt;tbody&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;Bitcoin (BTC)&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;$ 50.65&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;4 Jan&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-primary f-14"&gt;+ 2.6%&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;Ethereum (ETH)&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;$ 9.56&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;18 Feb&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-secondary f-14"&gt;- 3.7%&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;Ripple (XRP)&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;$ 30.48&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;26 March&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-primary f-14"&gt;+ 8.3%&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;Bitcoin Case (BCH)&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;$ 102.56&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;31 Apr&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-light font-primary f-14"&gt;+ 5.6%&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;EOS (EOS)&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;$ 5.48&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;2 May&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-primary f-14"&gt;- 2.6%&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;Litecoin (LTC)&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;$ 40.46&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;10 Jun&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-secondary f-14"&gt;+ 5.6%&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/tbody&gt;
                                      | &lt;/table&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                        .col-xl-4.col-sm-6
                          .card
                            .card-header
                              h5 Buy Bitcoin
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body
                              .bitcoin-table.table-responsive
                                table.table.table-bordernone
                                  tbody
                                    tr
                                      td.f-w-600 Price:
                                      td 
                                        span.f-w-600 30.633.30
                                      td.text-right
                                        button.btn.btn-light.btn-pill.font-primary.f-w-600 USD
                                    tr
                                      td.f-w-600 Amount:
                                      td 
                                        span.f-w-600 2
                                      td.text-right
                                        button.btn.btn-light.btn-pill.font-primary.f-w-600 BTC
                                    tr
                                      td.f-w-600 Total:
                                      td 
                                        span.f-w-600 41.266.60
                                      td.text-right
                                        button.btn.btn-gradient-custom.btn-pill.f-w-600 USD
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head2', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head2
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="bitcoin-table table-responsive"&gt;
                                      | &lt;table class="table table-bordernone"&gt;
                                      | &lt;tbody&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Price:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;30.633.30&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn btn-light btn-pill font-primary f-w-600"&gt;USD&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Amount:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;2&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn btn-light btn-pill font-primary f-w-600"&gt;BTC&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Total:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;41.266.60&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn btn-gradient-custom btn-pill f-w-600"&gt;USD&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/tbody&gt;
                                      | &lt;/table&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                        .col-xl-4.col-sm-6
                          .card
                            .card-header
                              h5 Sell Bitcoin
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body
                              .bitcoin-table.sell-bitcoin.table-responsive
                                table.table.table-bordernone
                                  tbody
                                    tr
                                      td.f-w-600 Price:
                                      td 
                                        span.f-w-600 22.165.70
                                      td.text-right
                                        button.btn.btn-pill.font-secondary.f-w-600 USD
                                    tr
                                      td.f-w-600 Amount:
                                      td 
                                        span.f-w-600 2
                                      td.text-right
                                        button.btn.btn-pill.font-secondary.f-w-600 BTC
                                    tr
                                      td.f-w-600 Total:
                                      td 
                                        span.f-w-600 22.165.70
                                      td.text-right
                                        button.btn.bck-gradient-secondary.btn-pill.f-w-600 USD
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head3', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head3
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="bitcoin-table sell-bitcoin table-responsive"&gt;
                                      | &lt;table class="table table-bordernone"&gt;
                                      | &lt;tbody&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Price:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;22.165.70&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn btn-pill font-danger f-w-600"&gt;USD&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Amount:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;2&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn btn-pill font-danger f-w-600"&gt;BTC&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Total:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;22.165.70&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn bck-gradient-secondary btn-pill f-w-600"&gt;USD&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/tbody&gt;
                                      | &lt;/table&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                        .col-xl-4
                          .card
                            .card-header
                              h5 Stop Limit
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body
                              .bitcoin-table.stop-bitcoin.table-responsive
                                table.table.table-bordernone
                                  tbody
                                    tr
                                      td.f-w-600 Price:
                                      td 
                                        span.f-w-600 43.167.20
                                      td.text-right
                                        button.btn.btn-pill.font-warning.f-w-600 USD
                                    tr
                                      td.f-w-600 Amount:
                                      td 
                                        span.f-w-600 2
                                      td.text-right
                                        button.btn.btn-pill.font-warning.f-w-600 BTC
                                    tr
                                      td.f-w-600 Total:
                                      td 
                                        span.f-w-600 19.446.00
                                      td.text-right
                                        button.btn.bck-gradient-warning.btn-pill.f-w-600 USD
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head4', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head4
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="bitcoin-table stop-bitcoin table-responsive"&gt;
                                      | &lt;table class="table table-bordernone"&gt;
                                      | &lt;tbody&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Price:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;43.167.20&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn btn-pill font-warning f-w-600"&gt;USD&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Amount:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;2&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn btn-pill font-warning f-w-600"&gt;BTC&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td class="f-w-600"&gt;Total:&lt;/td&gt;
                                      | &lt;td&gt; &lt;span class="f-w-600"&gt;19.446.00&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="text-right"&gt;
                                      | &lt;button class="btn bck-gradient-warning btn-pill f-w-600"&gt;USD&lt;/button&gt;
                                      | &lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/tbody&gt;
                                      | &lt;/table&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                        .col-lg-12
                          .card
                            .card-header.crypto-header
                              h5 Market Depth Chart
                              .chart-value-box.pull-right
                                .value-square-box-primary
                                span.f-12.f-w-600 Value
                                .value-square-box-secondary.ml-3
                                span.f-12.f-w-600 Value
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body
                              .crypto-depth-container
                                .ct-chart.flot-chart-container
                                .crypto-graph-card.pull-right
                                  .media
                                    span.f-12.f-w-600 Our Growth
                                    span.badge.badge-pill.ml-3
                                      span.font-primary
                                        span.d-inline-block
                                          i.fa.fa-sort-up
                                        |  9.4%
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head5', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head5
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="crypto-depth-container"&gt;
                                      | &lt;div class="ct-chart flot-chart-container"&gt;&lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                        .col-xl-6
                          .card.sales-overview
                            .card-header
                              h5 Sell Orders
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body.p-0
                              .sales-product-table.crypto-table-market.table-responsive
                                table.table.table-bordernone
                                  thead
                                    tr
                                      th(scope='col') Price
                                      th(scope='col') ETH
                                      th(scope='col') BTC
                                      th(scope='col') USD
                                  tbody
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr.btn-gradient-custom
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head6', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head6
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="sales-product-table crypto-table-market table-responsive"&gt;
                                      | &lt;table class="table table-bordernone"&gt;
                                      | &lt;thead&gt;
                                      | &lt;tr&gt;
                                      | &lt;th scope="col"&gt;Price&lt;/th&gt;
                                      | &lt;th scope="col"&gt;ETH&lt;/th&gt;
                                      | &lt;th scope="col"&gt;BTC&lt;/th&gt;
                                      | &lt;th scope="col"&gt;USD&lt;/th&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/thead&gt;
                                      | &lt;tbody&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr class="btn-gradient-custom"&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/tbody&gt;
                                      | &lt;/table&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                        .col-xl-6
                          .card.sales-overview
                            .card-header
                              h5 Buy Orders
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-double-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body.p-0
                              .sales-product-table.crypto-table-market.table-responsive
                                table.table.table-bordernone
                                  thead
                                    tr
                                      th(scope='col') Price
                                      th(scope='col') ETH
                                      th(scope='col') BTC
                                      th(scope='col') USD
                                  tbody
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr.btn-gradient-custom
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr.gradient-table-line-danger
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                                    tr
                                      td 0.98422432
                                      td
                                        span 0.0953744
                                      td
                                        span 8.64923753
                                      td
                                        span 0.00718167
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head7', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head7
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="sales-product-table crypto-table-market table-responsive"&gt;
                                      | &lt;table class="table table-bordernone"&gt;
                                      | &lt;thead&gt;
                                      | &lt;tr&gt;
                                      | &lt;th scope="col"&gt;Price&lt;/th&gt;
                                      | &lt;th scope="col"&gt;ETH&lt;/th&gt;
                                      | &lt;th scope="col"&gt;BTC&lt;/th&gt;
                                      | &lt;th scope="col"&gt;USD&lt;/th&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/thead&gt;
                                      | &lt;tbody&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr class="btn-gradient-custom"&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr class="gradient-table-line-danger"&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;0.98422432&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.0953744&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;8.64923753&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td&gt;&lt;span&gt;0.00718167&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/tbody&gt;
                                      | &lt;/table&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
