- var prism                 = true;
- var chartjs               = true;
- var chartist              = true;
- var knobchart             = true;
- var page_knobchart        = true;
- var clipboard             = true;
- var customcard            = true;
- var chat_menu             = true;
- var theme_customizer      = true;
- var tooltip               = true;
- var dashboard_default     = true;
- var counter               = true;
- var notify                = true;
- var vector_map            = true;
- var animate               = true;
- var wow                   = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6
                                    h3 
                                      | E shop
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         | Home
                                      li.breadcrumb-item Dashboard
                                      li.breadcrumb-item.active default
                                .col-lg-6
                                  include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                        .row
                          .col-lg-12.xl-100
                            .row
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card
                                  .card-body.tag-card
                                    .progressbar-widgets
                                      .media.media-widgets
                                        .media-body
                                          p.mb-0 Total Sale
                                          h3.mt-0.mb-0.f-w-600
                                            i(data-feather='dollar-sign')
                                            span.counter 841,162
                                        span.badge.flat-badge-secondary 3.56%
                                          i.fa.fa-caret-up
                                      .progress.sm-progress-bar.progress-animate
                                        .progress-gradient-secondary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                                          span.font-secondary 75%
                                          span.animate-circle
                                      span.tag-content-secondary.tag-hover-effect
                                        i(data-feather='trending-up')
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card
                                  .card-body.tag-card
                                    .progressbar-widgets
                                      .media.media-widgets
                                        .media-body
                                          p.mb-0 Total Purchase
                                          h3.mt-0.mb-0.f-w-600
                                            i(data-feather='dollar-sign')
                                            span.counter 123,461
                                            span
                                              i.font-success(data-feather='trending-up')
                                        span.badge.flat-badge-success 3.56%
                                          i.fa.fa-caret-up
                                      .progress.sm-progress-bar.progress-animate
                                        .progress-gradient-success(role='progressbar', style='width: 80%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
                                          span.font-success 80%
                                          span.animate-circle
                                      span.tag-content-success.tag-hover-effect
                                        i(data-feather='trending-up')      
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card.bg-primary
                                  .card-body.tag-card
                                    .progressbar-widgets
                                      .media.media-widgets
                                        .media-body
                                          p.mb-0.font-light Active Customers
                                          h3.mt-0.mb-0.f-w-600
                                            span.counter 10,14,125
                                            span
                                              i.font-light(data-feather='trending-up')
                                        span.badge.flat-badge-light.font-primary 01.36
                                          i.fa.fa-caret-up
                                      .progress.sm-progress-bar.progress-animate
                                        .progress-gradient-light(role='progressbar', style='width: 65%', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
                                          span.animate-circle
                                      span.tag-content-light.tag-light.tag-hover-effect
                                        i(data-feather='trending-up')     
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card
                                  .card-body.tag-card
                                    .progressbar-widgets
                                      .media.media-widgets
                                        .media-body
                                          p.mb-0 New Customers
                                          h3.mt-0.mb-0.f-w-600
                                            span.counter 9,00,563
                                            span
                                              i.font-primary(data-feather='trending-up')
                                        span.badge.flat-badge-primary 6.23%
                                          i.fa.fa-caret-up
                                      .progress.sm-progress-bar.progress-animate
                                        .progress-gradient-primary(role='progressbar', style='width: 95%', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
                                          span.animate-circle
                                      span.tag-content-primary.tag-hover-effect
                                        i(data-feather='trending-up')      
                          .col-xl-8.xl-100.box-col-12
                                .card.sales-overview
                                  .card-header
                                    h5 Sales Overview
                                    .card-header-right
                                      ul.list-unstyled.card-option
                                        li
                                          i.icofont.icofont-double-left
                                        li
                                          i.view-html.fa.fa-code
                                        li
                                          i.icofont.icofont-maximize.full-card
                                        li
                                          i.icofont.icofont-minus.minimize-card
                                        li
                                          i.icofont.icofont-refresh.reload-card
                                        li
                                          i.icofont.icofont-error.close-card
                                  .card-body.p-0
                                    .row.m-0.dashboard-btn-groups
                                      .col-lg-6
                                        .btn-group(role='group', aria-label='Basic example')
                                          button.btn.btn-outline-light.btn-js(type='button') Hours
                                          button.btn.btn-outline-light.btn-js(type='button') Day
                                          button.btn.btn-outline-light.btn-js(type='button') Week
                                          button.btn.btn-outline-light.btn-js.active(type='button') Month
                                      .col-lg-6
                                        .btn-group.pull-right(role='group', aria-label='Basic example')
                                          button.btn.btn-outline-light.btn-js1(type='button') From Date
                                          button.btn.btn-outline-light.btn-js1(type='button') To Date
                                          button.btn.btn-outline-light.btn-js1.active(type='button')
                                            i(data-feather='calendar')
                                    .card-body
                                      .chart-value-box.pull-right
                                        .value-square-box-primary
                                        span Profit
                                      .dashboard-rounded-chart.flot-chart-container
                                    .code-box-copy
                                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head', title='Copy')
                                        i.icofont.icofont-copy-alt
                                      pre
                                        code.language-html#example-head
                                            | &lt;!-- Cod Box Copy begin --&gt;
                                            | &lt;div class="row m-0 dashboard-btn-groups"&gt;
                                            |  &lt;div class="col-lg-6"&gt;
                                            |  &lt;div class="btn-group" role="group" aria-label="Basic example"&gt;
                                            |  &lt;button class="btn btn-outline-light" type="button"&gt;Hours&lt;/button&gt;
                                            |  &lt;button class="btn btn-outline-light" type="button"&gt;Day&lt;/button&gt;
                                            |  &lt;button class="btn btn-outline-light" type="button"&gt;Week&lt;/button&gt;
                                            |  &lt;button class="btn btn-primary" type="button"&gt;Month&lt;/button&gt;
                                            |  &lt;/div&gt;
                                            |  &lt;/div&gt;
                                            |  &lt;div class="col-lg-6"&gt;
                                            |  &lt;div class="btn-group pull-right" role="group" aria-label="Basic example"&gt;
                                            |  &lt;button class="btn btn-outline-light" type="button"&gt;From Date&gt;/button&gt;
                                            |  &lt;button class="btn btn-outline-light" type="button"&gt;To Date&lt;/button&gt;
                                            |  &lt;button class="btn btn-primary" type="button"&gt;&lt;i data-feather="calendar"&lt;&gt;/i&lt;/button&gt;
                                            |  &lt;/div&gt;
                                            |  &lt;/div&gt;
                                            |  &lt;/div&gt;
                                            |  &lt;div class="card-body dashboard-rounded-chart flot-chart-container"&gt;&lt;/div&gt;
                                            |  &lt;!-- Cod Box Copy end --&gt;
                          .col-xl-4.xl-100.box-col-12
                            .card
                              .card-header
                                h5 Sales By Category
                                .card-header-right
                                  ul.list-unstyled.card-option
                                    li
                                      i.icofont.icofont-double-left
                                    li
                                      i.view-html.fa.fa-code
                                    li
                                      i.icofont.icofont-maximize.full-card
                                    li
                                      i.icofont.icofont-minus.minimize-card
                                    li
                                      i.icofont.icofont-refresh.reload-card
                                    li
                                      i.icofont.icofont-error.close-card
                              .card-body.p-0
                                .sales-product-table.table-responsive
                                  table.table.table-bordernone
                                    tbody
                                      tr
                                        td
                                          img.img-fluid(src='../assets/images/dashboard/sale-product-1.png', alt='')
                                        td
                                          span Latest 
                                          span.d-block Niky Black shoes
                                        td
                                          span.badge.badge-pill.pill-badge-secondary 21,562
                                        td
                                          span 28.21%
                                      tr
                                        td
                                          img.img-fluid(src='../assets/images/dashboard/sale-product-2.png', alt='')
                                        td
                                          span Latest Men 
                                          span.d-block Shirt
                                        td
                                          span 15,102
                                        td
                                          span 18.00%
                                      tr
                                        td
                                          img.img-fluid(src='../assets/images/dashboard/sale-product-3.png', alt='')
                                        td
                                          span Latest Women 
                                          span.d-block Purse
                                        td
                                          span 9562
                                        td
                                          span 08.54%
                                      tr
                                        td
                                          img.img-fluid(src='../assets/images/dashboard/sale-product-4.png', alt='')
                                        td
                                          span Latest 
                                          span.d-block Women Sandals
                                        td
                                          span 1002
                                        td
                                          span 01.33%
                                .code-box-copy
                                  button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head2', title='Copy')
                                    i.icofont.icofont-copy-alt
                                  pre
                                    code.language-html#example-head2
                                        | &lt;!-- Cod Box Copy begin --&gt;
                                        | &lt;div class="sales-product-table table-responsive"&gt;
                                        | &lt;table class="table table-bordernone"&gt;
                                        | &lt;tbody&gt;
                                        | &lt;tr&gt;
                                        | &lt;td&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/sale-product-1.png" alt=""&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;Latest &lt;/span&gt;&lt;span class="d-block"&gt;Niky Black shoes&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="badge badge-pill badge-secondary"&gt;21,562&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;28.21%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;tr&gt;
                                        | &lt;td&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/sale-product-2.png" alt=""&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;Latest Men &lt;/span&gt;&lt;span class="d-block"&gt;Shirt&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;15,102&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;18.00%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;tr&gt;
                                        | &lt;td&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/sale-product-3.png" alt=""&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;Latest Women &lt;/span&gt;&lt;span class="d-block"&gt;Purse&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;9562&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;08.54%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;tr&gt;
                                        | &lt;td&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/sale-product-4.png" alt=""&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;Latest &lt;/span&gt;&lt;span class="d-block"&gt;Women Sandals&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;1002&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span&gt;01.33%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;/tbody&gt;
                                        | &lt;/table&gt;
                                        | &lt;/div&gt;
                                        | &lt;div class="card-footer sales-product-table-footer"&gt;
                                        | &lt;div class="media"&gt;
                                        | &lt;button class="btn btn-outline-light"&gt;Last Week&lt;i class="fa fa-angle-double-right ml-2"&gt;&lt;/i&gt;&lt;/button&gt;
                                        | &lt;div class="media-body"&gt;&lt;a class="pull-right"&gt;View More Reports&lt;/a&gt;&lt;/div&gt;
                                        | &lt;/div&gt;
                                        | &lt;/div&gt;
                                        | &lt;!-- Cod Box Copy end --&gt;
                              .card-footer.sales-product-table-footer
                                .media
                                  a.btn.btn-outline-light Last Week
                                    i.fa.fa-angle-double-right.ml-2
                                  .media-body
                                    a.pull-right(href='#') View More Reports               
                          .col-xl-5.xl-100.box-col-12
                            .knob-widgets.card
                              .row.card-body
                                .col-md-6
                                  .knob-block.text-center
                                    input.knob(data-width='230', data-height='230', data-thickness='.060', data-angleoffset='90', data-displayinput='false', data-fgcolor='#fb2e63', data-bgcolor='#f2f4ff', data-linecap='round', value='75')
                                    .knob-content-center
                                      h6.f-w-600 March. 2019
                                      span.f-w-600 Total Invest
                                .col-md-6
                                  .knob-live-content.text-center
                                    .setting-dot
                                      .setting-bg.pull-right
                                        i.fa.fa-spin.fa-cog
                                    .small-bar
                                      .ct-small-left.flot-chart-container
                                    .span.badge.badge-pill.pill-badge-secondary 
                                      i.fa.fa-circle
                                      | Live
                                  .knob-bottom-widgets.text-center
                                    h6.f-w-600 This Invest Cycle
                                    h5.f-w-600
                                      i(data-feather='dollar-sign')
                                      | 785,000
                                    h6.f-w-600.mb-0 Current Balance This Invest Cycle
                          .col-xl-7.xl-100.box-col-12
                            .card.sales-overview
                                  .card-header
                                    h5 Our Growth
                                    .card-header-right
                                      ul.list-unstyled.card-option
                                        li
                                          i.icofont.icofont-double-left
                                        li
                                          i.view-html.fa.fa-code
                                        li
                                          i.icofont.icofont-maximize.full-card
                                        li
                                          i.icofont.icofont-minus.minimize-card
                                        li
                                          i.icofont.icofont-refresh.reload-card
                                        li
                                          i.icofont.icofont-error.close-card
                                  .card-body.chart-block
                                    canvas#our-growth
                                    .chart-value-box.pull-right
                                      .value-square-box-warning
                                      span Profit
                                    .code-box-copy
                                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head3', title='Copy')
                                        i.icofont.icofont-copy-alt
                                      pre
                                        code.language-html#example-head3
                                            | &lt;!-- Cod Box Copy begin --&gt;
                                            | &lt;div class="chart-block"&gt;
                                            | &lt;canvas id="our-growth"&gt;&lt;/canvas&gt;
                                            | &lt;/div&gt;
                                            | &lt;!-- Cod Box Copy end --&gt;
                          .col-xl-8.xl-50.box-col-12
                            .card
                              .card-header
                                h5 Our Best Seller
                                .card-header-right
                                  ul.list-unstyled.card-option
                                    li
                                      i.icofont.icofont-double-left
                                    li
                                      i.view-html.fa.fa-code
                                    li
                                      i.icofont.icofont-maximize.full-card
                                    li
                                      i.icofont.icofont-minus.minimize-card
                                    li
                                      i.icofont.icofont-refresh.reload-card
                                    li
                                      i.icofont.icofont-error.close-card
                              .card-body.p-0
                                .sales-product-table.table-responsive
                                  table.table.table-bordernone
                                    thead
                                      tr
                                        th(scope='col') Number
                                        th(scope='col') Name
                                        th(scope='col') Account
                                        th(scope='col') Sealing
                                        th(scope='col') Percentage
                                        th(scope='col') Custmoize
                                    tbody
                                      tr
                                        td 01
                                        td
                                          .d-inline-block.align-middle
                                            img.img-radius.img-30.align-top.m-r-15.rounded-circle(src='../assets/images/user/2.png', alt='')
                                            .d-inline-block
                                              h6.f-w-600 Nick Stone
                                        td
                                          span NikyBlack87@gmail.com
                                        td
                                          span 21,562
                                        td
                                          span 28.21%
                                        td
                                          span.badge.badge-pill.pill-badge-secondary Edit
                                      tr
                                        td 02
                                        td
                                          .d-inline-block.align-middle
                                            img.img-radius.img-30.align-top.m-r-15.rounded-circle(src='../assets/images/user/5.jpg', alt='')
                                            .d-inline-block
                                              h6.f-w-600 Milano Esco
                                        td
                                          span Milanoesco56@gmal.com
                                        td
                                          span 15,102
                                        td
                                          span 18.00%
                                        td
                                          span.badge.badge-pill.pill-badge-success Edit
                                      tr
                                        td 03
                                        td
                                          .d-inline-block.align-middle
                                            img.img-radius.img-30.align-top.m-r-15.rounded-circle(src='../assets/images/user/3.jpg', alt='')
                                            .d-inline-block
                                              h6.f-w-600 Wiltor Noice
                                        td
                                          span Wiltornoice34@gmail.com
                                        td
                                          span 9562
                                        td
                                          span 08.54%
                                        td
                                          span.badge.badge-pill.pill-badge-warning Edit
                                      tr
                                        td 04
                                        td
                                          .d-inline-block.align-middle
                                            img.img-radius.img-30.align-top.m-r-15.rounded-circle(src='../assets/images/user/4.jpg', alt='')
                                            .d-inline-block
                                              h6.f-w-600 Anna Strong
                                        td
                                          span Annastrong67@gmail.com
                                        td
                                          span 1002
                                        td
                                          span 01.33%
                                        td
                                          span.badge.badge-pill.pill-badge-primary Edit
                                .code-box-copy
                                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head4', title='Copy')
                                        i.icofont.icofont-copy-alt
                                      pre
                                        code.language-html#example-head4
                                            | &lt;!-- Cod Box Copy begin --&gt;
                                            | &lt;div class="sales-product-table table-responsive"&gt;
                                            | &lt;table class="table table-bordernone"&gt;
                                            | &lt;thead&gt;
                                            | &lt;tr&gt;
                                            | &lt;th scope="col"&gt;Number&lt;/th&gt;
                                            | &lt;th scope="col"&gt;Name&lt;/th&gt;
                                            | &lt;th scope="col"&gt;Account&lt;/th&gt;
                                            | &lt;th scope="col"&gt;Sealing&lt;/th&gt;
                                            | &lt;th scope="col"&gt;Percentage&lt;/th&gt;
                                            | &lt;th scope="col"&gt;Custmoize&lt;/th&gt;
                                            | &lt;/tr&gt;
                                            | &lt;/thead&gt;
                                            | &lt;tbody&gt;
                                            | &lt;tr&gt;
                                            | &lt;td&gt;01&lt;/td&gt;
                                            | &lt;td&gt;
                                            | &lt;div class="d-inline-block align-middle"&gt;&lt;img class="img-radius img-30 align-top m-r-15 rounded-circle" src="../assets/images/user/2.png" alt=""&gt;
                                            | &lt;div class="d-inline-block"&gt;
                                            | &lt;h6 class="f-w-600"&gt;Nick Stone&lt;/h6&gt;
                                            | &lt;/div&gt;
                                            | &lt;/div&gt;
                                            | &lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;NikyBlack87@gmail.com&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;21,562&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;28.21%&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-secondary"&gt;Edit&lt;/span&gt;&lt;/td&gt;
                                            | &lt;/tr&gt;
                                            | &lt;tr&gt;
                                            | &lt;td&gt;02&lt;/td&gt;
                                            | &lt;td&gt;
                                            | &lt;div class="d-inline-block align-middle"&gt;&lt;img class="img-radius img-30 align-top m-r-15 rounded-circle" src="../assets/images/user/5.jpg" alt=""&gt;
                                            | &lt;div class="d-inline-block"&gt;
                                            | &lt;h6 class="f-w-600"&gt;Milano Esco&lt;/h6&gt;
                                            | &lt;/div&gt;
                                            | &lt;/div&gt;
                                            | &lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;Milanoesco56@gmal.com&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;15,102&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;18.00%&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-success"&gt;Edit&lt;/span&gt;&lt;/td&gt;
                                            | &lt;/tr&gt;
                                            | &lt;tr&gt;
                                            | &lt;td&gt;03&lt;/td&gt;
                                            | &lt;td&gt;
                                            | &lt;div class="d-inline-block align-middle"&gt;&lt;img class="img-radius img-30 align-top m-r-15 rounded-circle" src="../assets/images/user/3.jpg" alt=""&gt;
                                            | &lt;div class="d-inline-block"&gt;
                                            | &lt;h6 class="f-w-600"&gt;Wiltor Noice&lt;/h6&gt;
                                            | &lt;/div&gt;
                                            | &lt;/div&gt;
                                            | &lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;Wiltornoice34@gmail.com&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;9562&lt;/span&gt;&lt;/td&gt;| &lt;td&gt;&lt;span&gt;08.54%&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-warning"&gt;Edit&lt;/span&gt;&lt;/td&gt;
                                            | &lt;/tr&gt;
                                            | &lt;tr&gt;
                                            | &lt;td&gt;04&lt;/td&gt;
                                            | &lt;td&gt;
                                            | &lt;div class="d-inline-block align-middle"&gt;&lt;img class="img-radius img-30 align-top m-r-15 rounded-circle" src="../assets/images/user/4.jpg" alt=""&gt;
                                            | &lt;div class="d-inline-block"&gt;
                                            | &lt;h6 class="f-w-600"&gt;Anna Strong&lt;/h6&gt;
                                            | &lt;/div&gt;
                                            | &lt;/div&gt;
                                            | &lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;Annastrong67@gmail.com&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span&gt;1002&lt;/span&gt;&lt;/td&gt;| &lt;td&gt;&lt;span&gt;01.33%&lt;/span&gt;&lt;/td&gt;
                                            | &lt;td&gt;&lt;span class="badge badge-pill pill-badge-primary"&gt;Edit&lt;/span&gt;&lt;/td&gt;
                                            | &lt;/tr&gt;
                                            | &lt;/tbody&gt;
                                            | &lt;/table&gt;
                                            | &lt;/div&gt;
                                            | &lt;!-- Cod Box Copy end --&gt;
                          .col-xl-4.xl-50.box-col-12
                            .card
                              .card-body
                                .call-chat-card.text-center
                                  .setting-dot
                                    .setting-bg.pull-right
                                      i.fa.fa-spin.fa-cog
                                  .call-images
                                    img.img-fluid(src='../assets/images/dashboard/call-chat-1.png', alt='')
                                    img.img-fluid(src='../assets/images/dashboard/call-chat-2.png', alt='')
                                  h5.f-w-600 11:36
                                  .call-chart-height
                                    .call-chart
                                  .call-chat-bottom
                                    .text-center
                                      .d-inline-block
                                        i(data-feather='pause')
                                      .d-inline-block
                                        a.bg-secondary.call-receive
                                          i(data-feather='phone')
                                      .d-inline-block
                                        i(data-feather='volume-2')
                          .col-xl-5.xl-100.box-col-12
                            .card
                              .card-header
                                h5 Work Plan
                                .card-header-right
                                  ul.list-unstyled.card-option
                                    li
                                      i.icofont.icofont-double-left
                                    li
                                      i.view-html.fa.fa-code
                                    li
                                      i.icofont.icofont-maximize.full-card
                                    li
                                      i.icofont.icofont-minus.minimize-card
                                    li
                                      i.icofont.icofont-refresh.reload-card
                                    li
                                      i.icofont.icofont-error.close-card
                              .card-body
                                .work-plan.text-center
                                  img.img-fluid(src='../assets/images/dashboard/work-plan.png', alt='')
                                  h6 10:00 AM
                                  h5.f-w-600 5 Year Celebration
                                  p Discussion About our new project and etc....
                                .code-box-copy
                                  button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head5', title='Copy')
                                    i.icofont.icofont-copy-alt
                                  pre
                                    code.language-html#example-head5
                                        | &lt;!-- Cod Box Copy begin --&gt;
                                        | &lt;div class="work-plan text-center"&gt;
                                        | &lt;img class="img-fluid" src="../assets/images/dashboard/work-plan.png" alt=""&gt;
                                        | &lt;h6&gt;10:00 AM&lt;/h6&gt;
                                        | &lt;h5 class="f-w-600"&gt;5 Year Celebration&lt;/h5&gt;
                                        | &lt;p&gt;Discussion About our new project and etc....&lt;/p&gt;
                                        | &lt;/div&gt;
                                        | &lt;div class="card-footer"&gt;
                                        | &lt;nav aria-label="Page navigation example"&gt;
                                        | &lt;ul class="pagination pagination-lg theme-pagination"&gt;
                                        | &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;21&lt;/a&gt;&lt;/li&gt;
                                        | &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;22&lt;/a&gt;&lt;/li&gt;
                                        | &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;23&lt;/a&gt;&lt;/li&gt;
                                        | &lt;li class="page-item active"&gt;&lt;a class="page-link" href="#"&gt;24&lt;/a&gt;&lt;/li&gt;
                                        | &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;25&lt;/a&gt;&lt;/li&gt;
                                        | &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;26&lt;/a&gt;&lt;/li&gt;
                                        | &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;27&lt;/a&gt;&lt;/li&gt;
                                        | &lt;/ul&gt;
                                        | &lt;/nav&gt;
                                        | &lt;/div&gt;
                                        | &lt;!-- Cod Box Copy end --&gt;
                              .card-footer
                                nav(aria-label='Page navigation example')
                                  ul.pagination.pagination-lg.theme-pagination
                                    li.page-item
                                      a.page-link(href='#') 21
                                    li.page-item
                                      a.page-link(href='#') 22
                                    li.page-item
                                      a.page-link(href='#') 23
                                    li.page-item.active
                                      a.page-link(href='#') 24
                                    li.page-item
                                      a.page-link(href='#') 25
                                    li.page-item
                                      a.page-link(href='#') 26
                                    li.page-item
                                      a.page-link(href='#') 27
                          .col-xl-7.xl-100.box-col-12
                            .card
                              .card-header
                                h5 Location 
                                .card-header-right
                                  ul.list-unstyled.card-option
                                    li
                                      i.icofont.icofont-double-left
                                    li
                                      i.view-html.fa.fa-code
                                    li
                                      i.icofont.icofont-maximize.full-card
                                    li
                                      i.icofont.icofont-minus.minimize-card
                                    li
                                      i.icofont.icofont-refresh.reload-card
                                    li
                                      i.icofont.icofont-error.close-card
                              .card-body
                                .row.dashboard-map
                                  .col-md-8
                                    .jvector-map-height#world
                                  .col-md-4
                                    .map-right-box
                                      .media
                                        .map-box.bg-warning.box-color-warning
                                          i(data-feather='users')
                                        .media-body
                                          span Total New User
                                          h5 53,952,718
                                      .media
                                        .map-box.bg-primary.box-color-primary
                                          i(data-feather='droplet')
                                        .media-body
                                          span Bounce Date
                                          h5 96%
                                      .media
                                        .map-box.bg-secondary.box-color-secondary
                                          i(data-feather='clock')
                                        .media-body
                                          span Session duartion
                                          h5 06:12:56
                                      .media
                                        .map-box.bg-success.box-color-success
                                          i(data-feather='coffee')
                                        .media-body
                                          span Session
                                          h5 06:12:56      
                                .code-box-copy
                                  button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head6', title='Copy')
                                    i.icofont.icofont-copy-alt
                                  pre
                                    code.language-html#example-head6
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="row dashboard-map"&gt;
                                      | &lt;div class="col-sm-8"&gt;
                                      | &lt;div class="jvector-map-height" id="world-map"&gt;&lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;div class="col-sm-4"&gt;
                                      | &lt;div class="map-right-box"&gt;
                                      | &lt;div class="media"&gt;
                                      | &lt;div class="map-box bg-warning box-color-warning"&gt;&lt;i data-feather="users"&gt;&lt;/i&gt;&lt;/div&gt;
                                      | &lt;div class="media-body"&gt;&lt;span&gt;Total New User&lt;/span&gt;
                                      | &lt;h5&gt;53,952,718&lt;/h5&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;div class="media"&gt;
                                      | &lt;div class="map-box bg-primary box-color-primary"&gt;&lt;i data-feather="droplet"&gt;&lt;/i&gt;&lt;/div&gt;
                                      | &lt;div class="media-body"&gt;&lt;span&gt;Bounce Date&lt;/span&gt;
                                      | &lt;h5&gt;96%&lt;/h5&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;div class="media"&gt;
                                      | &lt;div class="map-box bg-secondary box-color-secondary"&gt;&lt;i data-feather="clock"&gt;&lt;/i&gt;&lt;/div&gt;
                                      | &lt;div class="media-body"&gt;&lt;span&gt;Session duartion&lt;/span&gt;
                                      | &lt;h5&gt;06:12:56&lt;/h5&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;div class="media"&gt;
                                      | &lt;div class="map-box bg-success box-color-success"&gt;&lt;i data-feather="coffee"&gt;&lt;/i&gt;&lt;/div&gt;
                                      | &lt;div class="media-body"&gt;&lt;span&gt;Session&lt;/span&gt;
                                      | &lt;h5&gt;06:12:56&lt;/h5&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;


                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
#loadModal.welcome-popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        div.modal-header
        div.contain.p-50
          div.text-center
            h3 Welcome to creative admin
            p start your project with developer friendly admin 
            button.btn.btn-primary.btn-lg.txt-white(type='button' data-dismiss='modal' aria-label='Close') Get Started